body {
  font-family: Arial, sans-serif;
  background-color: #a3a2a2;
}
.firstdiv {
  background-color: #ffffff;
  margin: auto;
  width: 40%;
  border: 3px solid rgb(32, 33, 32);
  padding: 10px;
}
h1 {
  color: rgb(105, 108, 255);
  border-bottom: 5px dotted purple;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
}
.self {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.hobby {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  height: 250px;
  width: 400px;
  float: left;
}
.flag {
  width: 30px;
  float: left;
  margin-right: 10px;
}
p {
  font-size: x-large;
}
